.bestPlace-slider-next{
  top:150px;
  right:5%;
  box-shadow: 2px 2px 5px gray;
  @apply absolute h-8 w-8 rounded-full grid place-items-center cursor-pointer bg-white transform hover:scale-105 duration-300;
}

.bestPlace-slider-prev{
  top:150px;
  left:-1.5%;
  z-index: 100;
  box-shadow: -2px 2px 5px gray;
  @apply absolute h-8 w-8 rounded-full grid place-items-center cursor-pointer bg-white transform hover:scale-105 duration-300;  
}