.settings-wrapper{
   @apply w-full md:w-2/3 lg:w-1/2 font-kum md:ml-32 mt-10 md:mt-20 relative overflow-hidden;
}

.seetings-wrapper-for-account{
    height:650px;
}

.settings-tab{
 @apply flex mb-1 mt-3;
 border-top:1px solid;
 border-bottom:1px solid;
 border-color:antiquewhite;
}

.settings-tab-underline{
    background: rgb(212, 211, 211);
    height:2px;
    @apply w-full relative;
}

.settings-tab-active-underline{
    position: absolute;
    top:-1px;
    left:0;
    background-color: green;
    height:5px;
    @apply w-24 bg-primary rounded-sm;
}



