@tailwind base;
@tailwind components;
@tailwind utilities;

/*fonts import here*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    @apply font-kum text-secondary;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.explore-slider .slick-slide {
    margin: 0 6px;
}

/* custom scroll bar  Chrome*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #b3c4c0;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #97a19f;
}
/* Custom scroll bar Firefox */
:root {
    overflow-y: scroll;
    scrollbar-color: #b3c4c0 #f1f1f1 !important;
    scrollbar-width: 12px !important;
}
